* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
body{
    padding: 0 20px;
    height: 100vh;
}

a{
    text-decoration: none;
    color: inherit;
}

@font-face{
    font-family: 'Clash Grotesk';
    src: url("/fonts/ClashGrotesk-Bold.otf");
    font-weight: 700;
}

@font-face{
    font-family: 'Clash Grotesk';
    src: url("/fonts/ClashGrotesk-Medium.otf");
    font-weight: 500;
}

@font-face{
    font-family: 'Clash Grotesk';
    src: url("/fonts/ClashGrotesk-Regular.otf");
    font-weight: 400;
}

@font-face{
    font-family: 'Satoshi-bold';
    src: url("/fonts/Satoshi-Bold.otf");
    font-weight: 700;
}

@font-face{
    font-family: 'Satoshi-medium';
    src: url("/fonts/Satoshi-Medium.otf");
    font-weight: 500;
}

@font-face{
    font-family: 'Satoshi-regular';
    src: url("/fonts/Satoshi-Regular.otf");
    font-weight: 400;
}